extends 0_layout

block content
  h3 Welcome to #{title}
  br
  br 
  br
  form(action='/add/newroute' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='routegeojson') Route als GeoJson
        .col-sm-4
          input#type.form-control(type='text' name="rgeojson" placeholder='Enter your personal route as GeoJson')
      button.btn.btn-primary.mb-2(type='submit') Send


