extends 0_layout

block content
  h3 Welcome to #{title}
  br
  br 
  form(action='/add/newperson' method='post')
    fieldset
      .form-group.row
        label.col-sm-1.col-form-label(for='personname') Person  Name
        .col-sm-4
          input#poiname.form-control(type='text' name="pname" placeholder='Enter Person Name')
      .form-group.row
        label.col-sm-1.col-form-label(for='adress') Adress
        .col-sm-4
          input#cityname.form-control(type='text' name="cadress" placeholder='Enter Adress')
      button.btn.btn-primary.mb-2(type='submit') Send

